@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../fonts/Poppins-SemiBold.eot");
  src: url("../fonts/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Poppins-SemiBold.woff2") format("woff2"),
    url("../fonts/Poppins-SemiBold.woff") format("woff"),
    url("../fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins-extraBold";
  src: url("../fonts/Poppins-ExtraBold.eot");
  src: url("../fonts/Poppins-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Poppins-ExtraBold.woff2") format("woff2"),
    url("../fonts/Poppins-ExtraBold.woff") format("woff"),
    url("../fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Glacial Indifference-Italic";
  src: url("../fonts/GlacialIndifference-Italic.eot");
  src: url("../fonts/GlacialIndifference-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/GlacialIndifference-Italic.woff2") format("woff2"),
    url("../fonts/GlacialIndifference-Italic.woff") format("woff"),
    url("../fonts/GlacialIndifference-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Glacial Indifference-Regular";
  src: url("../fonts/GlacialIndifference-Regular.eot");
  src: url("../fonts/GlacialIndifference-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/GlacialIndifference-Regular.woff2") format("woff2"),
    url("../fonts/GlacialIndifference-Regular.woff") format("woff"),
    url("../fonts/GlacialIndifference-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Glacial Indifference-Bold";
  src: url("../fonts/GlacialIndifference-Bold.eot");
  src: url("../fonts/GlacialIndifference-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/GlacialIndifference-Bold.woff2") format("woff2"),
    url("../fonts/GlacialIndifference-Bold.woff") format("woff"),
    url("../fonts/GlacialIndifference-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff"),
    url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff"),
    url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muli-Bold";
  src: url("../fonts/Muli-Bold.eot");
  src: url("../fonts/Muli-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Muli-Bold.woff2") format("woff2"),
    url("../fonts/Muli-Bold.woff") format("woff"),
    url("../fonts/Muli-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url("../fonts/Muli.eot");
  src: url("../fonts/Muli.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Muli.woff2") format("woff2"),
    url("../fonts/Muli.woff") format("woff"),
    url("../fonts/Muli.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muli-Light";
  src: url("../fonts/Muli-Light.eot");
  src: url("../fonts/Muli-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Muli-Light.woff2") format("woff2"),
    url("../fonts/Muli-Light.woff") format("woff"),
    url("../fonts/Muli-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Roboto-Light.woff2") format("woff2"),
    url("../fonts/Roboto-Light.woff") format("woff"),
    url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jaapokki";
  src: url("../fonts/Jaapokki-Regular.eot");
  src: url("../fonts/Jaapokki-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Jaapokki-Regular.woff2") format("woff2"),
    url("../fonts/Jaapokki-Regular.woff") format("woff"),
    url("../fonts/Jaapokki-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
