@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
  }
  /* anout me styles */
  .aboutMeWrapper {
    justify-content: center;
  }
  .skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 70px;
    margin-top: 0;
  }
  .skillsIconWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 50px;
  }
  .skillsIconWrapper div {
    height: 80px;
  }
  .skillsIconWrapper div img {
    height: 50px;
  }
  /* services styles */
  .services {
    grid-template-columns: 1fr 1fr;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }
  .services-wrapper {
    width: 100%;
  }
  /* recommendation styles */
  .active-worker {
    flex-direction: column;
  }
  .change {
    margin-left: 20px;
    display: flex;
  }
  .recommendation-wrapper {
    flex-direction: column;
  }
  .recommendation-wrapper p {
    margin-right: 0;
    margin-bottom: 40px;
  }
  .worker-info :nth-child(2) {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .worker-info :last-child {
    margin-bottom: 30px;
  }
  .worker-info {
    margin-left: 0;
  }

  .second,
  .third {
    margin-bottom: 0;
    margin-left: 60px;
  }
  .first {
    margin-left: 0;
  }
  /* latest projects styles  */
  .topicsWrapper {
    margin-right: 0;
  }
  .topicsWrapper {
    max-width: 900px;
    width: 100%;
    height: 150px;
  }
  .topicsWrapper > div {
    flex-direction: row;
  }
  .topic {
    margin-bottom: 0;
    margin-left: 20px;
  }
  .workSpace img {
    display: none;
  }
  .form {
    max-width: 890px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .aboutMeImg img {
    margin-left: 0;
    margin-right: 0;
  }
  .aboutMe p {
    margin-bottom: 30px;
  }
  .hireMe {
    margin-bottom: 20px;
  }
  /* recommendations styles */
  .change div {
    margin-left: 10px;
  }
  .contactMe div div {
    margin-right: 0;
  }
  /* latest projects styles */
  .topicsWrapper {
    max-width: 700px;
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
  }
  .topic {
    margin-bottom: 0;
    margin-left: 0px;
  }
  .projectsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .project {
    margin-left: 30px;
    margin-bottom: 30px;
  }
  /* latest articles styles */
  #workTimeNone,
  #workTimeNone1,
  #workTimeNone2 {
    width: 100%;
    height: 50px;
    writing-mode: horizontal-tb;
    margin: 0 auto;
    transform: none;
  }
  .article {
    justify-content: center;
    display: block;
  }
  .article div p {
    width: 400px;
  }
  .leftDiv {
    margin-left: 0;
  }

  /* roca team styles */
  .initial {
    width: 160px;
    height: 160px;
  }
  .clients {
    flex-wrap: wrap;
  }
  .marginNone {
    margin-left: 0;
  }

  /* contact styles */
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    width: 100%;
  }
  #message {
    width: 100%;
  }
}

@media (max-width: 480px) {
  /* slider section styles  */
  .mySlides img {
    max-width: 480px;
    width: 100%;
  }
  .info-wrapper {
    width: 150px;
    left: 50%;
  }
  .aboutMeWrapper {
    max-width: 480px;
    width: 100%;
  }
  .aboutMeImg img {
    margin-left: 0;
    margin-right: 0;
  }
  /* about me section */
  .aboutMeSection {
    max-width: 480px;
    width: 100%;
  }
  .skillsIconWrapper {
    margin-left: 0;
  }
  .skills {
    margin-left: 20px;
  }
  .contactWrapper {
    height: 100%;
    margin: 0 auto;
  }
  .contactMe {
    justify-content: center;
    max-width: 480px;
    width: 100%;
  }
  .contactMeSection {
    max-width: 480px;
    width: 100%;
  }
  .emailWrapper .logo {
    margin-bottom: 50px;
  }
  .phone,
  .email,
  .adress {
    margin-left: 10px;
  }
  /* services styles  */
  .services {
    grid-template-columns: 1fr 1fr;
    max-width: 460px;
    width: 100%;
    margin: 0 auto;
  }
  .services-wrapper {
    width: 220px;
  }
  /* recommendation styles */
  .recommendation {
    max-width: 480px;
    width: 100%;
    margin-top: 30px;
  }
  .recommendation-wrapper p {
    text-align: center;
    width: 300px;
  }
  /* latest projects styles */
  .latestProject h2 {
    margin-top: 50px;
  }

  .topic {
    margin-left: 20px;
  }
  /* rosa teams styles */
  .marginNone {
    margin-left: 0px;
  }
  .clients :nth-child(2n + 1) {
    margin-left: 0;
  }
  .clients :nth-child(4) {
    margin-left: 65px;
  }

  /* contact styles  */
  .form {
    max-width: 480px;
    width: 100%;
  }
  #message {
    width: 290px;
  }
  /* footer styles  */
  .mediaText p {
    width: 400px;
  }
}
