* {
  box-sizing: border-box;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
.about {
  font-size: 43px;
  color: #373737;
  font-family: "Poppins-extraBold";
  position: absolute;
  top: 6%;
  right: 6%;
}
.mySlides {
  display: none;
}
.mySlides img {
  height: 960px;
  width: 100%;
}

.slideshow-container {
  position: relative;
  margin: auto;
}

.active {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
.info-wrapper {
  position: absolute;
  top: 30%;
  left: 60%;
}
.info h1 {
  font-size: 42px;
  font-family: "Glacial Indifference-Regular";
  text-transform: capitalize;
}
.info h2 {
  font-size: 34px;
  font-family: "Glacial Indifference-Regular";
  text-transform: capitalize;
}
.info h3 {
  font-size: 21px;
  margin-top: 20px;
  font-family: "Glacial Indifference-Regular";
  text-transform: capitalize;
}
.media-icons img {
  margin-top: 40px;
  margin-left: 10px;
}
.satisfied {
  position: absolute;
  bottom: 10%;
  right: 15%;
  padding-bottom: 30px;
}
.percent {
  font-size: 24px;
  color: #e93656;
  font-family: "Montserrat-Bold";
}
.percent span {
  font-size: 24px;
  color: #212121;
  text-transform: capitalize;
  font-family: "Montserrat-Bold";
}
.satisfied div {
  width: 340px;
  height: 6px;
  background-color: #e93656;
  border-radius: 30px;
  position: absolute;
  margin-top: 20px;
}
/* aboout me section */
.aboutMeSection {
  justify-content: center;
  margin-top: 135px;
}
.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.aboutMeImg img {
  width: 430px;
  height: 603px;
  margin-left: 63px;
  margin-right: 70px;
  margin-bottom: 100px;
}
.aboutMe h3 {
  font-size: 40px;
  text-transform: capitalize;
  margin-bottom: 6px;
  margin-top: 83px;
  font-family: "Glacial Indifference-Bold";
}
.aboutMe h5 {
  font-size: 14px;
  text-transform: uppercase;
  color: #daae19;
  margin-bottom: 33px;
  align-self: flex-end;
  font-family: "Muli";
}
.aboutMe p {
  width: 334px;
  font-size: 15px;
  margin-bottom: 60px;
  line-height: 26px;
  color: #555555;
  text-align: justify;
  font-family: "Muli";
}
.hireMe {
  font-size: 15px;
  padding: 13px 46.33px 17px 53.67px;
  border: none;
  text-transform: capitalize;
  color: #ffffff;
  background-color: #131a36;
  transition-delay: 0.3s;
  cursor: pointer;
  font-family: "Glacial Indifference-Bold";
}
.hireMe:hover {
  background-color: #e93656;
}
.skillsWrapper {
  display: flex;
  flex-direction: column;
}
.skillsWrapper span {
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 24px;
  margin-top: 23px;
  font-family: "Glacial Indifference-Bold";
}
.line {
  color: white;
  width: 100%;
  height: 6px;
  background: red;
  z-index: 1;
  transition: all 0.5s;
  animation: fillFull 3s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
#jsID {
  transition: all 0.5s;
  animation: fillJs 3s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
.hide {
  opacity: 0;
}
.show {
  opacity: 1;
}
@keyframes fillFull {
  from {
    width: 0px;
  }
  to {
    width: 90%;
  }
}
@keyframes fillJs {
  from {
    width: 0px;
  }
  to {
    width: 80%;
  }
}

.skills {
  flex-direction: column;
  margin-top: 59px;
}

.skillsIconWrapper {
  margin-top: 78px;
}
.skillsIconWrapper div {
  padding: 14px 24px 15px 16px;
  margin-left: 5px;
  background-color: #f9f9f9;
  transition-delay: 0.1s;
  cursor: pointer;
}
.skillsIconWrapper :hover {
  background-color: #15263e;
}
.contactWrapper {
  width: 100%;
  height: 210px;
  background-color: #131a36;
  align-self: flex-end;
  color: #ffffff;
}
.logo {
  width: 90px;
  height: 90px;
  border: 2px dashed #ffffff;
  border-radius: 50%;
}
.logo:hover {
  background-color: #e93656;
  transition-delay: 0.1s;
  cursor: pointer;
}
.contactWrapper {
  justify-content: space-around;
}
.contactMe div div {
  display: flex;
  flex-direction: column;
  margin-top: 54px;
  margin-right: 41px;
}
.contactMe div div h5 {
  font-family: "Glacial Indifference-Bold";
}
.contactMe div div a {
  font-family: "Muli";
}
.contactMe div div img {
  margin: auto auto;
  width: 30px;
  height: 30px;
}
.contactMe h5 {
  font-size: 25px;
  margin-bottom: 15px;
  color: #ffffff;
}
.contactMe a {
  line-height: 26px;
  color: #dfdfdf;
}
/* Services section styles */
.services {
  width: 1170px;
  margin: 200px auto 160px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  position: relative;
}
.services-wrapper:hover {
  color: transparent;
  background-color: #131a36;
  opacity: 1;
}
.services-wrapper {
  /* width: 285px; */
  height: 360px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 15px;
  background-color: #fafafa;
  background-size: contain;
  position: relative;
  transition: opacity 0.2s, ease;
}
.services-wrapper p {
  color: #ececec;
  font-size: 15px;
  font-family: "Muli-Light";
  text-align: center;
  opacity: 0;
  position: absolute;
}
.services-wrapper:hover {
  background-color: #15263e;
}
.services-wrapper:hover div {
  display: none;
}
.services-wrapper:hover .services-p {
  opacity: 1;
}
.services div span {
  margin: 16px auto;
  text-transform: capitalize;
  font-family: "Glacial Indifference-Bold";
}
.services-img {
  margin: 0 auto;
}
.services-span {
  justify-content: center;
}
/* recommendation section styles */
.recommendation {
  background-image: url(../images/recommendation-bg.png);
  height: 570px;
  background-size: cover;
  background-repeat: no-repeat;
}
.recommendation-wrapper {
  height: 570px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  opacity: 71%;
}
.recommendation-wrapper p {
  width: 497px;
  text-align: right;
  margin-right: 60px;
  line-height: 30px;
  font-family: "Roboto-Light";
  color: #ffffff;
}

.recommendation-wrapper img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}
.worker-info {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}
.worker-info :first-child {
  font-size: 39px;
  color: #ffffff;
}

.worker-info :nth-child(2) {
  margin-top: 38px;
  margin-bottom: 9px;
  font-size: 13px;
  color: #e93656;
  text-transform: capitalize;
  font-family: "Roboto-Regular";
}
.worker-info :last-child {
  font-size: 28px;
  text-transform: capitalize;
  color: #ffffff;
  font-family: "Glacial Indifference-Bold";
}
.change div {
  width: 13px;
  height: 13px;

  margin-bottom: 14px;
  margin-left: 153px;
}
.inactive-btn {
  border: 1px solid #ffffff;
}
.none {
  display: none;
}
.active-worker {
  display: flex;
  align-items: center;
}
.active-button {
  background-color: #e93656;
}

/* Latest Projects Styles */
.latestProject {
  margin-bottom: 170px;
}
.latestProject h2 {
  font-size: 77px;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  margin-top: 144px;
  margin-bottom: 55px;
  color: #2e2e2e;
  font-family: "Glacial Indifference-Bold";
}
.topicsWrapper {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 401px;
  margin-right: 30px;
  background-color: #15263e;
}
.topicsWrapper > div {
  flex-direction: column;
  margin: auto auto;
}
.topic {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: left;
  text-transform: capitalize;
  color: #ffffff;
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: "Glacial Indifference-Bold";
}
.topic:hover {
  color: #e93656;
}
.latestProjectsWrapper {
  display: flex;
  justify-content: center;
}
.projectsWrapper {
  width: 900px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.project {
  width: 300px;
  height: 350px;
  display: none;
  justify-content: center;
}
.projectIconWrapper {
  background-color: #000000;
  opacity: 80%;
  width: 300px;
  height: 350px;
  display: none;
  padding-top: 105px;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.project:hover .projectIconWrapper {
  display: flex;
}

.work_ideas {
  background-image: url("../images/mona\ lisa.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.mockup {
  background-image: url("../images/appleHead.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.icons {
  background-image: url("../images/earings.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.logos {
  background-image: url("../images/scream.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.presentation {
  background-image: url("../images/climt.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.psd_design {
  background-image: url("../images/night.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.show-filter {
  display: block;
}
.heartImg {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: #e93656 solid 1px;
  border-radius: 50%;
}
.heartImg img {
  width: 12px;
  height: 14px;
}
.time {
  font-size: 11px;
  margin-top: 17px;
  margin-bottom: 7px;
  color: #dddddd;
  font-family: "Muli";
}
.content {
  font-size: 23px;
  color: #ffffff;
  text-transform: capitalize;
  font-family: "Glacial Indifference-Bold";
}
/* Latest Articles Styles */

.latestArticles {
  flex-direction: column;
  margin-bottom: 79px;
}
.latestArticles span,
.team-title span {
  font-size: 13px;
  color: #2ed279;
  margin: 0 auto;
  text-transform: uppercase;
  font-family: "Glacial Indifference-Bold";
}
.latestArticles h2,
.team-title h2 {
  font-size: 70px;
  color: #2e2e2e;
  margin: 0 auto;
  text-transform: capitalize;
  font-family: "Glacial Indifference-Bold";
}
.article {
  height: 590px;
  justify-content: right;
  align-items: center;
}
.article > div {
  display: flex;
  flex-direction: column;
}
.laptopIcon {
  width: 30px;
  height: 30px;
  margin-bottom: 65px;
}

.company {
  font-size: 14px;
  color: #888888;
  text-transform: uppercase;
  font-family: "Muli-Bold";
}
.article div h4 {
  font-size: 40px;
  color: #161616;
  margin-bottom: 28px;
  margin-top: 4px;
  text-transform: capitalize;
  font-family: "Glacial Indifference-Bold";
}
.article div p {
  width: 569px;
  font-size: 16px;
  color: #494949;
  margin-bottom: 15px;
  font-family: "Muli";
}
.article div a {
  font-size: 13px;
  color: #444444;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Muli";
}
.work-time {
  font-size: 30px;
  background-color: #15263e;
  color: #e93656;
  writing-mode: vertical-rl;
  margin-left: 220px;
  transform: rotate(180deg);
  height: 100%;
  width: 123px;
  font-family: "Glacial Indifference-Bold";
}
.work-time span,
.work-time-left span {
  margin: auto auto;
}
.work-time-left {
  font-size: 30px;
  background-color: #15263e;
  color: #e93656;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  height: 100%;
  width: 123px;
  font-family: "Glacial Indifference-Bold";
}
.leftDiv {
  margin-left: 226px;
}
.left {
  justify-content: left;
  flex-direction: row-reverse;
}
/* Rosa team styles */
.team {
  margin-top: 169px;
}
.team-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 121px;
}
.clients {
  display: flex;
  justify-content: center;
}

.initial {
  width: 110px;
  height: 110px;
}
.someContent {
  flex-direction: column;
  display: flex;
  margin-left: 65px;
  margin-bottom: 195px;
  transition-duration: 0.5s;
  transition-delay: 0.2s;
  cursor: pointer;
}
.someContent .hovered {
  display: none;
}
.someContent:hover .hovered {
  display: block;
}
.someContent:hover .initial {
  display: none;
}

.someContent:hover {
  background: transparent;
  border: 4px solid red;
  overflow: hidden;
  color: white;
  width: 230px;
  height: 190px;
}
.hovered-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto auto;
}
.hover-h5 {
  font-size: 16px;
  color: #161616;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  font-family: "Poppins-SemiBold";
}
.hover-span {
  width: 164px;
  font-size: 13px;
  color: #626262;
  margin-right: auto;
  margin-left: auto;
  font-family: "Roboto-Light";
}
/* Contact Us Styles  */
.contact-us {
  height: 660px;
  background-image: url(../images/map.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.contact-us-wrapper {
  width: 100%;
  height: 660px;
  background-color: #000000;
  opacity: 71%;
}
.form-wrapper h2 {
  font-size: 45px;
  color: #ffffff;
}

.form-wrapper span {
  font-size: 17px;
  color: #eeeeee;
}
.form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  width: 800px;
  margin: 0 auto;
}

.textArea {
  grid-column: 1 / span 3;
}
#name,
#email,
#website {
  width: 290px;
  height: 50px;
  padding: 18px 170px 17px 30px;
  font-size: 10px;
  text-transform: capitalize;
  font-family: "Poppins-SemiBold";
}
#message {
  resize: none;
  padding: 22px 0 73px 30px;
  width: 890px;
  height: 110px;
  margin-bottom: 30px;
  overflow: hidden;
  text-transform: capitalize;
  font-family: "Poppins-SemiBold";
}
#message::placeholder {
  font-size: 10px;
  color: #515151;
}
.contactUsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contactUsWrapper h2 {
  font-size: 45px;
  margin-top: 152px;
  margin-bottom: 12px;
  color: #ffffff;
  font-family: "Jaapokki";
}
.contactUsWrapper span {
  font-size: 17px;
  margin-bottom: 46px;
  color: #eeeeee;
  font-family: "Roboto-Light";
}
.send {
  display: flex;
  justify-content: center;
}
.send button {
  font-size: 12px;
  text-transform: uppercase;
  color: #e93656;
  font-family: "Glacial Indifference-Bold";
  padding: 16px 46px 18px 46px;
  background-color: transparent;
  border: 2px solid #e93656;
  transition-delay: 0.2s;
  transition-duration: 0.5s;
  cursor: pointer;
}
.send button:hover {
  color: #dddddd;
  background-color: #e93656;
}

/* Footer styles */
.media {
  height: 490px;
  background-color: #282828;
  justify-content: center;
  flex-direction: column;
}
.mediaText {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mediaText h2 {
  font-size: 55px;
  text-transform: capitalize;
  color: #ffffff;
  margin: 110px auto 32px;
  font-family: "Poppins-extraBold";
}
.mediaText h2 span {
  color: #e93656;
  font-size: 45px;
  font-family: none;
}
.mediaText p {
  width: 613px;
  font-size: 17px;
  color: #a5a5a5;
  text-align: center;
  font-family: "Roboto-Regular";
}
.social {
  margin-top: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social a {
  margin-right: 10px;
}
.rights {
  height: 82px;
  background-color: #171717;
}
.rights p {
  display: flex;
  justify-content: center;
  padding-top: 27px;
  font-size: 15px;
  color: #a0a8b7;
  font-family: "Muli";
}
