* {
  box-sizing: border-box;
}
.flex {
  display: flex;
}
.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
.mySlides {
  display: none;
}
.mySlides img {
  height: 960px;
  width: 100%;
}

.slideshow-container {
  position: relative;
  margin: auto;
}

.active {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
.info-wrapper {
  position: absolute;
  top: 30%;
  left: 60%;
}
h2 {
  font-size: 34px;
}
h1 {
  font-size: 42px;
}
h3 {
  font-size: 21px;
}
.media-icons img {
  margin-top: 40px;
  margin-left: 10px;
}
.aboutMeSection {
  justify-content: center;
  margin-top: 135px;
  /* background-color: red; */
}
.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.aboutMeImg img {
  width: 430px;
  height: 603px;
  margin-left: 63px;
  margin-right: 70px;
  margin-bottom: 100px;
}
.aboutMe h3 {
  font-size: 40px;
  text-transform: capitalize;
  margin-bottom: 6px;
  margin-top: 83px;
}
.aboutMe h5 {
  font-size: 14px;
  text-transform: uppercase;
  color: #daae19;
  margin-bottom: 33px;
  align-self: flex-end;
}
.aboutMe p {
  width: 334px;
  font-size: 15px;
  margin-bottom: 60px;
  line-height: 26px;
  color: #555555;
  text-align: justify;
}
.hireMe {
  size: 15px;
  padding: 13px 46.33px 17px 53.67px;
  border: none;
  text-transform: capitalize;
  color: #ffffff;
  background-color: #131a36;
  transition-delay: 0.3s;
  cursor: pointer;
}
.hireMe:hover {
  background-color: #e93656;
}
.skillsWrapper {
  display: flex;
  flex-direction: column;
}
.skillsWrapper span {
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 24px;
  margin-top: 23px;
}
.line {
  color: white;
  width: 100%;
  height: 6px;
  background: red;
  z-index: 1;
  transition: all 0.5s;
  animation: fillFull 3s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
#jsID {
  transition: all 0.5s;
  animation: fillJs 3s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
.hide {
  opacity: 0;
}
.show {
  opacity: 1;
}
@keyframes fillFull {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}
@keyframes fillJs {
  from {
    width: 0px;
  }
  to {
    width: 80%;
  }
}

.skills {
  flex-direction: column;
  margin-top: 59px;
}

.skillsIconWrapper {
  margin-top: 78px;
}
.skillsIconWrapper div {
  padding: 14px 24px 15px 16px;
  margin-left: 5px;
  background-color: #f9f9f9;
  transition-delay: 0.1s;
  cursor: pointer;
}
.skillsIconWrapper :hover {
  background-color: #15263e;
}
.contactWrapper {
  width: 100%;
  height: 210px;
  background-color: #131a36;
  align-self: flex-end;
  color: #ffffff;
}
.logo {
  width: 90px;
  height: 90px;
  border: 2px dashed #ffffff;
  border-radius: 50%;
}
.logo:hover {
  background-color: #e93656;
  transition-delay: 0.1s;
  cursor: pointer;
}
.contactWrapper {
  justify-content: space-around;
}
.contactMe div div {
  display: flex;
  flex-direction: column;
  margin-top: 54px;
  margin-right: 41px;
}
.contactMe div div img {
  margin: auto auto;
}
.contactMe h5 {
  font-size: 25px;
  margin-bottom: 15px;
  color: #ffffff;
}
.contactMe span {
  line-height: 26px;
  color: #dfdfdf;
}
.services {
  width: 1170px;
  margin: 200px auto 160px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}
.services-wrapper {
  background-color: #fafafa;
  opacity: 97%;
  width: 285px;
  height: 360px;
}
.services-wrapper img {
  margin: 130px auto 15px auto;
  width: 60px;
  height: 60px;
}
.services-txt-img-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto auto;
}

.services div span {
  margin: 16px auto;
}
/* recommendation section styles */
.recommendation {
  background-image: url(../images/recommendation-bg.png);
  height: 570px;
  background-size: cover;
  background-repeat: no-repeat;
}
/* Latest Projects Styles */
.latestProject {
  margin-bottom: 170px;
}
.latestProject h2 {
  font-size: 77px;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  margin-top: 144px;
  margin-bottom: 55px;
  color: #2e2e2e;
}
.topicsWrapper {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 401px;
  margin-right: 30px;
  background-color: #15263e;
}
.topicsWrapper > div {
  flex-direction: column;
  margin: auto auto;
}
.topic {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: left;
  text-transform: capitalize;
  color: #ffffff;
  background: transparent;
  border: none;
  cursor: pointer;
}
.latestProjectsWrapper {
  display: flex;
  justify-content: center;
}
.projectsWrapper {
  width: 900px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.project {
  width: 300px;
  height: 350px;
  display: none;
  display: flex;
  justify-content: center;
}
.projectIconWrapper {
  display: flex;
  margin-top: 105px;
  align-items: center;
  flex-direction: column;
}
.projectsWrapper > :nth-child(2n) {
  background-color: #555555;
}

.projectsWrapper > :nth-child(2n + 1) {
  background-color: #848484;
}
.show-filter {
  display: block;
}
.heartImg {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: #e93656 solid 1px;
  border-radius: 50%;
}
.heartImg img {
  width: 12px;
  height: 14px;
}
.time {
  font-size: 11px;
  margin-top: 17px;
  margin-bottom: 7px;
  color: #dddddd;
}
.content {
  font-size: 23px;
  color: #ffffff;
}
/* Latest Articles Styles */
/* .latestArticlesContainer {
  max-width: 1750px;
  width: 100%;
  margin: 0 auto;
} */

.latestArticles {
  flex-direction: column;
  margin-bottom: 79px;
}
.latestArticles span,
.team-title span {
  font-size: 13px;
  color: #2ed279;
  margin: 0 auto;
}
.latestArticles h2,
.team-title h2 {
  font-size: 70px;
  color: #2e2e2e;
  margin: 0 auto;
}
.article {
  height: 590px;
  justify-content: right;
  align-items: center;
}
.article > div {
  display: flex;
  flex-direction: column;
}
.laptopIcon {
  width: 30px;
  height: 30px;
  margin-bottom: 65px;
}

.company {
  font-size: 14px;
  color: #888888;
  text-transform: uppercase;
}
.article div h4 {
  font-size: 40px;
  color: #161616;
  margin-bottom: 28px;
  margin-top: 4px;
  text-transform: capitalize;
}
.article div p {
  width: 569px;
  font-size: 16px;
  margin-bottom: 15px;
}
.article div a {
  font-size: 13px;
  color: #444444;
  text-transform: uppercase;
}
.work-time {
  font-size: 30px;
  background-color: #15263e;
  color: #e93656;
  writing-mode: vertical-rl;
  margin-left: 220px;
  transform: rotate(180deg);
  height: 100%;
  width: 123px;
}
.work-time span,
.work-time-left span {
  margin: auto auto;
}
.work-time-left {
  font-size: 30px;
  background-color: #15263e;
  color: #e93656;
  writing-mode: vertical-rl;

  transform: rotate(180deg);
  height: 100%;
  width: 123px;
}
.leftDiv {
  margin-left: 226px;
}
.left {
  justify-content: left;
  flex-direction: row-reverse;
}
/* Rosa team styles */
.team {
  margin-top: 169px;
}
.team-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 121px;
}
.client-example-wrapper {
  width: 230px;
  height: 190px;
  border: 4px solid transparent;

  display: flex;
  justify-content: center;
  align-items: center;
}
.clients {
  display: flex;
  justify-content: center;
}
.client-example {
  width: 110px;
  height: 110px;
  background-color: #15263e;
}
/* .client-example h4,
.client-example span {
  display: none;
} */

.client-example:hover {
  display: block;
  background-color: transparent;
  border: 4px red solid;
}
